<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const OTP = "<%= OTP %>";
    </script>
    <style>

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-color: #1b1c30;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .main {
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .form {
        display: grid;
        grid-template-rows: 100px 1fr;
        border-radius: 10px;
        box-shadow: 0 0 20px white;
        width: 400px;
        height: 350px;
        background-color: #1a1b2a;
    }
    .form-top {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 0 15px gray;
    }
    .form-bottom {
        padding: 10px 20px;
    }
    .input-container {
        position: relative;
        margin: 25px auto;
        width: 100%;
    }
    .input-container input[type="password"] {
        font-size: 20px;
        width: 100%;
        border: none;
        color: white;
        border-bottom: 2px solid #ccc;
        padding: 5px 0;
        background-color: transparent;
        outline: none;
    }
    .input-container .label {
        position: absolute;
        top: 0;
        left: 0;
        color: #ccc;
        transition: all 0.3s ease;
        pointer-events: none;
    }
    .input-container input[type="password"]:focus ~ .label,
    .input-container input[type="password"]:valid ~ .label {
        top: -20px;
        font-size: 16px;
        color: #0088ff;
    }
    .input-container .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #0088ff;
        transform: scaleX(0);
        transition: all 0.3s ease;
    }
    .input-container input[type="password"]:focus ~ .underline,
    .input-container input[type="password"]:valid ~ .underline {
        transform: scaleX(1);
    }  
    .btn-submit {
        margin-top: 5px;
        width: 100%;
        position: relative;
        padding: 1em 1.8em;
        outline: none;
        border: 1px solid #303030;
        background: #212121;
        color: #ae00ff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
    }
    .btn-submit:hover {
        box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
        transition-delay: 0.6s;
    }
    .btn-submit span {
        position: absolute;
    }
    .btn-submit span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #ae00ff);
    }
    .btn-submit:hover span:nth-child(1) {
        left: 100%;
        transition: 0.7s;
    }
    .btn-submit span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #001eff);
    }
    .btn-submit:hover span:nth-child(3) {
        right: 100%;
        transition: 0.7s;
        transition-delay: 0.35s;
    }
    .btn-submit span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #ae00ff);
    }
    .btn-submit:hover span:nth-child(2) {
        top: 100%;
        transition: 0.7s;
        transition-delay: 0.17s;
    }
    .btn-submit span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #001eff);
    }
    .btn-submit:hover span:nth-child(4) {
        bottom: 100%;
        transition: 0.7s;
        transition-delay: 0.52s;
    }
    .btn-submit:active {
        background: #ae00af;
        background: linear-gradient(to top right, #ae00af, #001eff);
        color: #bfbfbf;
        box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
        transition: 0.1s;
    }
    </style>
    <title>Thay đổi mật khẩu</title>
  </head>
  <body>
    <div class="main">
      <div class="form">
        <div class="form-top">
          <h1>THAY ĐỔI MẬT KHẨU</h1>
        </div>
        <div class="form-bottom">
          <div class="input-container">
            <input required="" id="password" type="password" />
            <label class="label" for="password">Mật khẩu mới</label>
            <div class="underline"></div>
          </div>
          <div class="input-container">
            <input required="" id="comfirmpassword" type="password" />
            <label class="label" for="comfirmpassword">Xác nhận mật khẩu mới</label>
            <div class="underline"></div>
          </div>
          <button onclick="ChanagePassword()" class="btn-submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Xác nhận
          </button>
        </div>
      </div>
    </div>
    <script>
      function ChanagePassword() {
          const password = document.getElementById("password").value;
          const comfirmpassword = document.getElementById("comfirmpassword").value;

          if (password !== "" && comfirmpassword !== "" && OTP !=+ "" && OTP !=+ null && OTP !=+ undefined) {
              if (password == comfirmpassword) {
                if (password.length >= 8 && password.length <= 50 && comfirmpassword.length >= 8 && password.length <= 50) {
                  const data = {
                    otpcode: OTP,
                    newPassword: password,
                    comfirmNewPassword: comfirmpassword
                  }
                  fetch('/API/chanagepasswordotp', {
                              method: 'POST',
                              headers: {
                                'Content-Type': 'application/json',
                              },
                              body: JSON.stringify(data),
                              credentials: 'include'
                            })
                    .then(res => res.json())
                    .then(resData => {
                      if (resData.status) {
                        Swal.fire({
                            icon: "success",
                            title: "Chúc mừng",
                            text: `${resData.message}`,
                            background: '#222338',
                            color: "white"
                        }).then((result) => {
                            if (result.dismiss === Swal.DismissReason.backdrop) {
                              location.href = "/";
                            }
                            else {
                              location.href = "/";
                            }
                          });
                      } else {
                          Swal.fire({
                              icon: "error",
                              title: "Oops...",
                              text: `${resData.message}`,
                              background: '#222338',
                              color: "white",
                              footer: '<a href="https://www.facebook.com/ZombieGenZ/" target="_blank" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Bạn cần giúp hổ trợ?</a>'
                          });
                      }
                    })
                }
                else {
                  Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Mật khẩu chỉ có thể dài từ 8 đến 50 ký tự",
                    background: '#222338',
                    color: "white",
                    footer: '<a href="https://www.facebook.com/ZombieGenZ/" target="_blank" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Bạn cần giúp hổ trợ?</a>'
                  });
                  return;
                }
              }
              else {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Hai mật khẩu phải giống nhau",
                  background: '#222338',
                  color: "white",
                  footer: '<a href="https://www.facebook.com/ZombieGenZ/" target="_blank" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Bạn cần giúp hổ trợ?</a>'
                });
                return;
              }
          }
          else {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Vui lòng điền đầy đủ thông tin",
              background: '#222338',
              color: "white",
              footer: '<a href="https://www.facebook.com/ZombieGenZ/" target="_blank" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Bạn cần giúp hổ trợ?</a>'
            });
          return;
          }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
