:root {
    --brightColor: #1b1c30;
    --prominentColor: #222338;
    --itemsColor: #3869d3;
  }

.main {
    max-width: 100vw;
    min-height: 100vh;
    max-height: 10000vh;
    display: grid;
    color: white;
    background-image: linear-gradient(to bottom, var(--brightColor) 0%, var(--brightColor) 100%);
    background-size: 100% 100vh;
    background-repeat: repeat-y;
    grid-template-columns: minmax(auto, 300px) auto;
}
.main-left {
    background-color: var(--prominentColor);
    display: grid;
    grid-template-rows: 200px 1fr;
}
.main-left-logo {
    display: grid;
    place-items: center;
}
.main-left-logo img {
    max-width: 50%;
}
.main-left-logo-content {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main-left-logo-content-group {
    display: grid;
    grid-template-rows: 30px auto;
}
.main-left-logo-content-group-top p {
    user-select: none;
    color: #656680;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
}
.main-left-logo-content-group-bottom {
    display: grid;
    grid-auto-rows: 40px;
    row-gap: 3px;
}
.main-left-logo-content-group-bottom a {
    height: 40px;
    text-decoration: none;
}
.main-left-logo-content-group-bottom button {
    color: #656680;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--prominentColor);
    transition: background-color 0.3s;
}
.main-left-logo-content-group-bottom button:hover:not(.main-left-logo-content-group-bottom-active) {
    border-left: 5px solid var(--itemsColor);
    background-color: var(--brightColor);
}
.main-left-logo-content-group-bottom-active button {
    border-left: 5px solid var(--itemsColor);
    background-color: var(--brightColor);
}
.main-left-logo-content-group-bottom i {
    margin-left: 8px;
    margin-right: 5px;
}
.main-right {
    display: grid;
    grid-template-rows: 80px 1fr;
}
.main-right-header {
    display: grid;
    padding: 0 15px;
    grid-template-columns: auto auto minmax(50px, 200px) minmax(50px, 150px);
    background-color: var(--prominentColor);
    column-gap: 10px;
}
.main-right-header-menu {
    display: none;
}
.main-right-header-title {
    grid-column: 1;
    display: flex;
    align-items: center;
}
.main-right-header-money {
    display: grid;
    place-content: center;
    grid-column: 3;
}
.btn-money {
    cursor: default !important;
}
.main-right-header-account {
    display: grid;
    place-content: center;
    grid-column: 4;
}
.btn-color-menu-account {
    border: none !important;
    background-color: var(--itemsColor) !important;
}
.btn-color-menu-account-background {
    box-shadow: 0 0 10px var(--brightColor);
    background-color: var(--prominentColor) !important;
}
.btn-color-menu-account-items {
    color: white !important;
    transition: background-color, font-weight 0.3s;
}
.btn-color-menu-account-items:hover {
    font-weight: bold;
    border-left: 5px solid var(--itemsColor);
    background-color: var(--brightColor) !important;
}
.verified {
    color: #3bce5b;
}
.manage {
    color: #ff4d00;
}
.developer {
    color: #f2ff00;
}
.overflow-1 {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
    overflow: hidden !important;
}
.overflow-2 {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
}
.overflow-3 {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
    overflow: hidden !important;
}
.modal-content {
    background-color: var(--brightColor) !important;
}
.modal-header {
    color: white;
}
.input-group-text-dark {
    color: white !important;
    background-color: var(--prominentColor) !important;
}
.accoutn-auth-group {
    margin-bottom: 5px;
}
.accoutn-auth-group label {
    margin-left: 5px;
    color: white;
    padding: 10px 0;
}
.accoutn-auth-group input {
    color: white;
    display: block;
    height: 35px;
    outline: none;
    border: none;
    padding: 5px 10px;
    background-color: var(--prominentColor);
    width: 100%;
    transition: 0.3s;
    border-radius: 8px;
}
.accoutn-auth-group input:focus {
    box-shadow: 0 0 10px var(--itemsColor);
}
.accoutn-auth-group-btn {
    display: grid;
    place-content: center;
    margin-top: 10px;
}
.accoutn-auth-group-btn-link {
    margin: 10px 0;
    color: white;
    text-align: center;
}
.accoutn-auth-group-btn-link a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.accoutn-auth-group-btn-link a:hover {
    color: var(--itemsColor);
}
.offcanvas {
    background-color: var(--prominentColor) !important;
}
#menuLabel {
    color: white;
}
#alert {
    color: white !important;
}
@media (max-width: 1300px) {
    .main {
        max-width: 100vw;
        min-height: 100vh;
        max-height: 10000vh;
        display: grid;
        color: white;
        background-color: var(--brightColor);
        grid-template-columns: auto;
    }
    .main-right-header {
        display: grid;
        padding: 0 15px;
        grid-template-columns: minmax(0px, 50px) auto minmax(50px, 200px) minmax(50px, 150px);
        background-color: var(--prominentColor);
        column-gap: 10px;
    }
    .main-right-header-title {
        grid-column: 2;
    }
    .main-left {
        background-color: var(--prominentColor);
        display: none;
        grid-template-rows: 200px 1fr;
    }
    .main-right-header-menu {
        display: grid;
        place-content: center;
    }
}
@media (max-width: 680px) {
    .main-right-header {
        display: grid;
        padding: 0 15px;
        grid-template-columns: minmax(0px, 50px) auto minmax(80px, 200px);
        background-color: var(--prominentColor);
        column-gap: 10px;
    }
    .main-right-header-money {
        display: grid;
        place-content: center;
        grid-column: 3;
    }
    .main-right-header-account {
        display: none;
    }
}
@media (max-width: 570px) {
    .main-right-header {
        display: grid;
        padding: 0 15px;
        grid-template-columns: minmax(0px, 50px) auto minmax(80px, 200px);
        background-color: var(--prominentColor);
        column-gap: 10px;
    }
}
@media (max-width: 480px) {
    .main-right-header {
        display: grid;
        padding: 0 15px;
        grid-template-columns: minmax(0px, 50px) auto minmax(auto, 50px);
        background-color: var(--prominentColor);
    }
    .main-right-header-money {
        display: none;
        place-content: center;
        grid-column: 3;
    }
}
@media (max-width: 310px) {
    .main-right-header {
        display: grid;
        padding: 0 15px;
        grid-template-columns: minmax(0px, 50px) auto;
        background-color: var(--prominentColor);
    }
    .main-right-header-money {
        display: none;
        place-content: center;
        grid-column: 3;
    }
}
@media (max-width: 250px) {
    .main-right-header {
        display: grid;
        padding: 0 15px;
        grid-template-columns: minmax(0px, 50px);
        background-color: var(--prominentColor);
    }
    .main-right-header-title {
        display: none;
    }
}
.main-right-header-content {
    padding: 10px;
    display: grid;
    grid-template-columns: minmax(0px, auto) minmax(auto, 1200px) minmax(0px, auto);
}
.main-right-header-content-center {
    grid-column: 2;
    flex-direction: column;
    display: flex;
}
.main-right-header-content-center-top {
    background-color: var(--prominentColor);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.main-right-header-content-center-top-items {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.main-right-header-content-center-top-items-top {
    display: grid;
    place-content: center;
}
.main-right-header-content-center-top-items-bottom {
    display: grid;
    place-content: center;
}
.main-right-header-content-center-bottom {
    display: grid;
    background-color: var(--prominentColor);
    grid-template-rows: 500px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
}
.top {
    display: grid;
    grid-template-rows: 50px 1fr;
    text-align: center;
}
.main-right-header-content-center-bottom-items {
    display: grid;
    grid-template-rows: 30px;
    padding: 10px;
}
.main-right-header-content-center-bottom-items-items {
    display: grid;
    grid-template-columns: 65% 35%;
}
.main-right-header-content-center-bottom-items-items-left {
    display: flex;
}
.main-right-header-content-center-bottom-items-items-left i {
    color: gold;
    position: relative;
    bottom: -5px;
    margin-right: 5px;
}